{% extends "catalog/base.html" %}

{% block title %}Мои заказы{% endblock %}

{% block content %}
<div class="container py-4">
  <h1 class="mb-4">Мои заказы</h1>

  {% if orders %}
  <table class="table">
    <thead>
      <tr>
        <th>№</th>
        <th>Дата</th>
        <th>Статус</th>
        <th>Сумма</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
         <td> {{ order.pk }}</td>
         <td> {{ order.created_at }}</td>
         <td> {{ order.status }}</td>
         <td> {{ order.get_total_price }}</td>
         <td> <a href="{% url 'orders:detail' order.pk %}">Подробнее</a> </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}
  <div class="text-center py-5">
    <p class="text-muted fs-5">Заказов пока нет</p>
    <a href="{% url 'catalog:book_list' %}" class="btn btn-primary">Перейти в каталог</a>
  </div>
  {% endif %}

</div>
{% endblock %}